{% extends '::base.html.twig' %}

{% block title %}Artisanat{% endblock %}

{% block stylesheets %}
    {% stylesheets '@OursUserBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {%  endstylesheets %}
    <style>
        body, td.null, th.null
        {
            background-color: #CCCCCC;
            border-color: #CCCCCC !important;
        }
        td, th
        {
            border-color: #FFFFFF !important;
        }
    </style>
{% endblock %}

{% block body -%}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#divers">Outils & Accessoire</a></li>
    <li><a data-toggle="tab" href="#mage">Tour du mage</a></li>
    <li><a data-toggle="tab" href="#chasseur">Pavillon du chasseur</a></li>
    <li><a data-toggle="tab" href="#soldat">Forge du guerrier</a></li>
</ul>

<div class="tab-content">

    {# Outils & Accessoire #}
    <div id="divers" class="tab-pane fade in active">
        {# Outils #}
        <div>
            <h3>Outils</h3>
            {{ render(controller('OursUserBundle:Artisanat\\Outils:Hache', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Outils:Massepi', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Outils:Pioche', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Outils:Couteau', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Outils:Faucille', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Outils:Massede', { 'page': 0, "json": false})) }}
        </div>
        <br style="clear: both;">
        {# End Outils #}

        {# Accessoire #}
        <div>
            <h3>Accessoires</h3>
            {{ render(controller('OursUserBundle:Artisanat\\Accessoires:Sac', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Accessoires:Cape', { 'page': 0, "json": false})) }}
        </div>
        <br style="clear: both;">
        {# End Accessoire #}
    </div>
    {# EndOutils & Accessoire #}

    {# Tour du Mage #}
    <div id="mage" class="tab-pane fade">

        {# Armes #}
        <div>
            <h3>BATONS</h3>
            {# Baton de Feu #}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Batonfeu', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:GrandBatonfeu', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Batoninfernal', { 'page': 0, "json": false})) }}
            {# End Baton de Feu#}

            {# Baton Beni #}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Batonbeni', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:GrandBatonbeni', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Batondivin', { 'page': 0, "json": false})) }}
            {# End Baton Beni #}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>

        <div>
            {# Baton Esoterique #}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Batonesoterique', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:GrandBatonesoterique', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Batonenigmatique', { 'page': 0, "json": false})) }}
            {# End Baton Esoterique #}

            {# Baton de Givre #}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Batongivre', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:GrandBatongivre', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Batonglacial', { 'page': 0, "json": false})) }}
            {# End Baton de Givre#}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>

        <div>
            {# Baton Demo #}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Batondamne', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:GrandBatondamne', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Batondemo', { 'page': 0, "json": false})) }}
            {# End Baton Demo #}

            {# Tome #}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Tome', { 'page': 0, "json": false})) }}
            {# End Tome #}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>
        {# End Armes #}

        {# Casque #}
        <div>
            <h3 style="width: 100%; background-color: #434343; color: white; text-align: center">CASQUE</h3>
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Casque1', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Casque2', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Casque3', { 'page': 0, "json": false})) }}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>
        {# End Casque#}

        {# Armure #}
        <div>
            <h3 style="width: 100%; background-color: #434343; color: white; text-align: center">ARMURES</h3>
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Armure1', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Armure2', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Armure3', { 'page': 0, "json": false})) }}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>
        {# End Armure #}

        {# Botte #}
        <div>
            <h3 style="width: 100%; background-color: #434343; color: white; text-align: center">BOTTES</h3>
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Botte1', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Botte2', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Mage:Botte3', { 'page': 0, "json": false})) }}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>
        {# End Botte #}
    </div>
    {# End Tour du Mage #}

    {# Pavillon du Chasseur #}
    <div id="chasseur" class="tab-pane fade">

        {# Armes #}
        <div>
            <h3>ARMES</h3>
            {# Arc #}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Arc', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:ArcGuerre', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:ArcLong', { 'page': 0, "json": false})) }}
            {# End Arc#}

            {# Lance #}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Lance', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Pique', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Hallebarde', { 'page': 0, "json": false})) }}
            {# End Lance #}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>

        <div>
            {# Baton Naturel #}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:BatonNaturel', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:GrandBatonNaturel', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:BatonSauvage', { 'page': 0, "json": false})) }}
            {# End Baton Naturel #}

            {# Dague #}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Dague', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:DoubleDague', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Griffe', { 'page': 0, "json": false})) }}
            {# End Dague #}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>

        <div>
            {# Baton Long #}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:BatonLong', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:BatonSansFaille', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:BatonDoubleTranchant', { 'page': 0, "json": false})) }}
            {# End Baton Long #}

            {# Torche #}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Torche', { 'page': 0, "json": false})) }}
            {# End Torche #}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>
        {# End Armes #}

        {# Casque #}
        <div>
            <h3 style="width: 100%; background-color: #434343; color: white; text-align: center">CASQUE</h3>
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Casque1', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Casque2', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Casque3', { 'page': 0, "json": false})) }}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>
        {# End Casque#}

        {# Armure #}
        <div>
            <h3 style="width: 100%; background-color: #434343; color: white; text-align: center">ARMURES</h3>
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Armure1', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Armure2', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Armure3', { 'page': 0, "json": false})) }}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>
        {# End Armure #}

        {# Botte #}
        <div>
            <h3 style="width: 100%; background-color: #434343; color: white; text-align: center">BOTTES</h3>
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Botte1', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Botte2', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Chasseur:Botte3', { 'page': 0, "json": false})) }}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>
        {# End Botte #}
    </div>
    {# End Pavillon du Chasseur #}

    {# Forge du Guerrier #}
    <div id="soldat" class="tab-pane fade">

        {# Armes #}
        <div>
            <h3>ARMES</h3>
            {# Epee Large#}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:EpeeLarge', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Claymore', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Glaive', { 'page': 0, "json": false})) }}
            {# End Epee Large#}

            {# Hache #}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Hache', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:GrandeHache', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Faux', { 'page': 0, "json": false})) }}
            {# End Hache#}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>

        <div>
            {# Massue #}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Massue', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:MassueLourde', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Fleau', { 'page': 0, "json": false})) }}
            {# End Massue#}

            {# Masse #}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Masse', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:BecDeCorbin', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:GrandeMasse', { 'page': 0, "json": false})) }}
            {# End Masse #}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>

        <div>
            {# Arbalete #}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Arbalete', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:ArbaleteLourde', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:ArbaleteRepetition', { 'page': 0, "json": false})) }}
            {# End Arbalete#}

            {# Bouclier #}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Bouclier', { 'page': 0, "json": false})) }}
            {# End Bouclier#}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>
        {# End Armes #}

        {# Casque #}
        <div>
            <h3 style="width: 100%; background-color: #434343; color: white; text-align: center">CASQUE</h3>
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Casque1', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Casque2', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Casque3', { 'page': 0, "json": false})) }}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>
        {# End Casque#}

        {# Armure #}
        <div>
            <h3 style="width: 100%; background-color: #434343; color: white; text-align: center">ARMURES</h3>
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Armure1', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Armure2', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Armure3', { 'page': 0, "json": false})) }}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>
        {# End Armure #}

        {# Botte #}
        <div>
            <h3 style="width: 100%; background-color: #434343; color: white; text-align: center">BOTTES</h3>
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Botte1', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Botte2', { 'page': 0, "json": false})) }}
            {{ render(controller('OursUserBundle:Artisanat\\Guerrier:Botte3', { 'page': 0, "json": false})) }}
        </div>
        <br style="clear: both;">
        <br/>
        <br/>
        {# End Botte #}
    </div>
    {# End Forge du Guerrier #}

</div>
{% endblock %}