{% extends '::base.html.twig' %}

{% block title %}Agriculture{% endblock %}

{% block stylesheets %}
    {% stylesheets '@OursUserBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {%  endstylesheets %}
    <style>
        body, td.null
        {
            background-color: #CCCCCC;
            border-color: #CCCCCC !important;
        }
        td, th
        {
            border-color: #FFFFFF !important;
        }
    </style>
{% endblock %}

{% block body -%}

    {# Cuisine #}
    <div>
        <h3 style="width: 100%; background-color: #434343; color: white; text-align: center">CUISINIERS</h3>
        <br/>
        {{ render(controller('OursUserBundle:Agriculture\\Cuisine:Soupe', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Cuisine:Salade', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Cuisine:Omelette', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Cuisine:Tourte', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Cuisine:Ragout', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Cuisine:Sandwich', { 'page': 0, "json": false})) }}
    </div>
    <br style="clear: both;">
    {# End Cuisine #}

    {# Alchimie #}
    <div>
        <h3 style="width: 100%; background-color: #434343; color: white; text-align: center">ALCHIMISTES</h3>
        <br/>
        {{ render(controller('OursUserBundle:Agriculture\\Alchimie:Soin', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Alchimie:Energie', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Alchimie:Reanimation', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Alchimie:PeauPierre', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Alchimie:Frigorifique', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Alchimie:Recuperation', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Alchimie:Purification', { 'page': 0, "json": false})) }}
    </div>
    <br style="clear: both;">
    {# End Alchimie #}

    {# Récolte #}
    <div>
        <h3>RECOLTEURS & INGREDIENTS</h3>
        <br/>
        {{ render(controller('OursUserBundle:Agriculture\\Recolte:Dresseur', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Recolte:Berger', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Recolte:Herboriste', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Recolte:Legume', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Recolte:Caviste', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Recolte:Meunier', { 'page': 0, "json": false})) }}
        {{ render(controller('OursUserBundle:Agriculture\\Recolte:Boucher', { 'page': 0, "json": false})) }}
    </div>
    <br style="clear: both;">
    {# End Récolte #}
{% endblock %}
