<table id="accSac" class="table table-bordered agriculture">
    <thead>
    <tr>
        <th colspan="2" class="pie">SACS</th>
    </tr>
    <tr>
        <th>Pseudo</th>
        <th class="tier">Tier</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td colspan="2" class="null"></td>
    </tr>
    {% for personage in personages %}
        {% if personage.accSac %}
            <tr>
                <td class="pie">{{ personage.name }}</td>
                {% if personage.accSac == 3 %}
                    <td class="trois tier">{{ personage.accSac }}</td>
                {% elseif personage.accSac == 4 %}
                    <td class="quatre tier">{{ personage.accSac }}</td>
                {% elseif personage.accSac == 5 %}
                    <td class="cinq tier">{{ personage.accSac }}</td>
                {% elseif personage.accSac == 6 %}
                    <td class="six tier">{{ personage.accSac }}</td>
                {% elseif personage.accSac == 7 %}
                    <td class="sept tier">{{ personage.accSac }}</td>
                {% elseif personage.accSac == 8 %}
                    <td class="huit tier">{{ personage.accSac }}</td>
                {% else %}
                    <td class="deux tier">{{ personage.accSac }}</td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>