<table id="cuSoup" class="table table-bordered agriculture">
    <thead>
    <tr>
        <th colspan="2" class="soup">Soupe</th>
    </tr>
    <tr>
        <th>Pseudo</th>
        <th class="tier">Tier</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td colspan="2" class="null"></td>
    </tr>
    {% for personage in personages %}
        {% if personage.cuSoup %}
            <tr>
                <td class="soup">{{ personage.name }}</td>
                {% if personage.cuSoup == 3 %}
                    <td class="trois tier">{{ personage.cuSoup }}</td>
                {% elseif personage.cuSoup == 4 %}
                    <td class="quatre tier">{{ personage.cuSoup }}</td>
                {% elseif personage.cuSoup == 5 %}
                    <td class="cinq tier">{{ personage.cuSoup }}</td>
                {% elseif personage.cuSoup == 6 %}
                    <td class="six tier">{{ personage.cuSoup }}</td>
                {% elseif personage.cuSoup == 7 %}
                    <td class="sept tier">{{ personage.cuSoup }}</td>
                {% elseif personage.cuSoup == 8 %}
                    <td class="huit tier">{{ personage.cuSoup }}</td>
                {% else %}
                    <td class="deux tier">{{ personage.cuSoup }}</td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>