<table id="soGlaive" class="table table-bordered artisanat">
    <thead>
    <tr>
        <th colspan="2" class="fire">GLAIVES</th>
    </tr>
    <tr>
        <th>Pseudo</th>
        <th class="tier">Tiers</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td colspan="2" class="null"></td>
    </tr>
    {% for personage in personages %}
        {% if personage.soGlaive %}
            <tr>
                <td class="fire">{{ personage.name }}</td>
                {% if personage.soGlaive == 4.3 %}
                    <td class="quatrePtrois tier">{{ personage.soGlaive }}</td>
                {% elseif personage.soGlaive == 5.3 %}
                    <td class="cinqPtrois tier">{{ personage.soGlaive }}</td>
                {% elseif personage.soGlaive == 6.3 %}
                    <td class="sixPtrois tier">{{ personage.soGlaive }}</td>
                {% elseif personage.soGlaive == 7.3 %}
                    <td class="septPtrois tier">{{ personage.soGlaive }}</td>
                {% elseif personage.soGlaive == 8.3 %}
                    <td class="huitPtrois tier">{{ personage.soGlaive }}</td>
                {% elseif personage.soGlaive == 6.6 %}
                    <td class="sixPsix tier">{{ personage.soGlaive }}</td>
                {% elseif personage.soGlaive == 7.6 %}
                    <td class="septPsix tier">{{ personage.soGlaive }}</td>
                {% elseif personage.soGlaive == 8.6 %}
                    <td class="huitPsix tier">{{ personage.soGlaive }}</td>
                {% else %}
                    <td class="deux tier">{{ personage.soGlaive }}</td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>