
<table id="soCasque3" class="table table-bordered artisanat">
    <thead>
    <tr>
        <th colspan="5" class="armor3">PLAQUES MOYEN</th>
    </tr>
    <tr>
        <th>Pseudo</th>
        <th class="tier">Tiers</th>
        <th class="null tier"></th>
        <th>Pseudo</th>
        <th class="tier">Tiers</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td colspan="5" class="null"></td>
    </tr>
    {% set count = 0 %}
    {% for personage in personages %}
        {% if personage.soCasque3 %}
            {% set count = count + 1 %}
            {% if count % 2 %}
                <tr>
            {% else %}
                <td class="null"></td>
            {% endif %}
            <td class="armor3">{{ personage.name }}</td>
            {% if personage.soCasque3 == 4.3 %}
                <td class="quatrePtrois tier">{{ personage.soCasque3 }}</td>
            {% elseif personage.soCasque3 == 5.3 %}
                <td class="cinqPtrois tier">{{ personage.soCasque3 }}</td>
            {% elseif personage.soCasque3 == 6.3 %}
                <td class="sixPtrois tier">{{ personage.soCasque3 }}</td>
            {% elseif personage.soCasque3 == 7.3 %}
                <td class="septPtrois tier">{{ personage.soCasque3 }}</td>
            {% elseif personage.soCasque3 == 8.3 %}
                <td class="huitPtrois tier">{{ personage.soCasque3 }}</td>
            {% elseif personage.soCasque3 == 6.6 %}
                <td class="sixPsix tier">{{ personage.soCasque3 }}</td>
            {% elseif personage.soCasque3 == 7.6 %}
                <td class="septPsix tier">{{ personage.soCasque3 }}</td>
            {% elseif personage.soCasque3 == 8.6 %}
                <td class="huitPsix tier">{{ personage.soCasque3 }}</td>
            {% else %}
                <td class="deux tier">{{ personage.soCasque3 }}</td>
            {% endif %}
            {% if count % 2 == 0 %}
                </tr>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if count % 2 %}
        </tr>
    {% endif %}
    </tbody>
</table>