<table id="maGrandBatonGi" class="table table-bordered artisanat">
    <thead>
    <tr>
        <th colspan="2" class="givre">GRAND BATON DE GIVRE</th>
    </tr>
    <tr>
        <th>Pseudo</th>
        <th class="tier">Tier</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td colspan="2" class="null"></td>
    </tr>
    {% for personage in personages %}
        {% if personage.maGrandBatonGi %}
            <tr>
                <td class="givre">{{ personage.name }}</td>
                {% if personage.maGrandBatonGi == 4.2 %}
                    <td class="quatrePdeux  tier">{{ personage.maGrandBatonGi }}</td>
                {% elseif personage.maGrandBatonGi == 5.2 %}
                    <td class="cinqPdeux  tier">{{ personage.maGrandBatonGi }}</td>
                {% elseif personage.maGrandBatonGi == 6.2 %}
                    <td class="sixPdeux  tier">{{ personage.maGrandBatonGi }}</td>
                {% elseif personage.maGrandBatonGi == 7.2 %}
                    <td class="septPdeux  tier">{{ personage.maGrandBatonGi }}</td>
                {% elseif personage.maGrandBatonGi == 8.2 %}
                    <td class="huitPdeux  tier">{{ personage.maGrandBatonGi }}</td>
                {% elseif personage.maGrandBatonGi == 5.5 %}
                    <td class="cinqPcinq  tier">{{ personage.maGrandBatonGi }}</td>
                {% elseif personage.maGrandBatonGi == 6.5 %}
                    <td class="sixPcinq  tier">{{ personage.maGrandBatonGi }}</td>
                {% elseif personage.maGrandBatonGi == 7.5 %}
                    <td class="septPcinq  tier">{{ personage.maGrandBatonGi }}</td>
                {% elseif personage.maGrandBatonGi == 8.5 %}
                    <td class="huitPcinq  tier">{{ personage.maGrandBatonGi }}</td>
                {% else %}
                    <td class="deux  tier">{{ personage.maGrandBatonGi }}</td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>