<table id="chBatonSF" class="table table-bordered artisanat">
    <thead>
    <tr>
        <th colspan="2" class="damn">BATONS SANS FAILLE</th>
    </tr>
    <tr>
        <th>Pseudo</th>
        <th class="tier">Tier</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td colspan="2" class="null"></td>
    </tr>
    {% for personage in personages %}
        {% if personage.chBatonSF %}
            <tr>
                <td class="damn">{{ personage.name }}</td>
                {% if personage.chBatonSF == 4.2 %}
                    <td class="quatrePdeux tier">{{ personage.chBatonSF }}</td>
                {% elseif personage.chBatonSF == 5.2 %}
                    <td class="cinqPdeux tier">{{ personage.chBatonSF }}</td>
                {% elseif personage.chBatonSF == 6.2 %}
                    <td class="sixPdeux tier">{{ personage.chBatonSF }}</td>
                {% elseif personage.chBatonSF == 7.2 %}
                    <td class="septPdeux tier">{{ personage.chBatonSF }}</td>
                {% elseif personage.chBatonSF == 8.2 %}
                    <td class="huitPdeux tier">{{ personage.chBatonSF }}</td>
                {% elseif personage.chBatonSF == 5.5 %}
                    <td class="cinqPcinq tier">{{ personage.chBatonSF }}</td>
                {% elseif personage.chBatonSF == 6.5 %}
                    <td class="sixPcinq tier">{{ personage.chBatonSF }}</td>
                {% elseif personage.chBatonSF == 7.5 %}
                    <td class="septPcinq tier">{{ personage.chBatonSF }}</td>
                {% elseif personage.chBatonSF == 8.5 %}
                    <td class="huitPcinq tier">{{ personage.chBatonSF }}</td>
                {% else %}
                    <td class="deux tier">{{ personage.chBatonSF }}</td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>