<table id="chArc" class="table table-bordered artisanat">
    <thead>
    <tr>
        <th colspan="2" class="fire">ARCS</th>
    </tr>
    <tr>
        <th>Pseudo</th>
        <th class="tier">Tiers</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td colspan="2" class="null"></td>
    </tr>
    {% for personage in personages %}
        {% if personage.chArc %}
            <tr>
                <td class="fire">{{ personage.name }}</td>
                {% if personage.chArc == 3 %}
                    <td class="trois tier">{{ personage.chArc }}</td>
                {% elseif personage.chArc == 4 %}
                    <td class="quatre tier">{{ personage.chArc }}</td>
                {% elseif personage.chArc == 5 %}
                    <td class="cinq tier">{{ personage.chArc }}</td>
                {% elseif personage.chArc == 6 %}
                    <td class="six tier">{{ personage.chArc }}</td>
                {% elseif personage.chArc == 7 %}
                    <td class="sept tier">{{ personage.chArc }}</td>
                {% elseif personage.chArc == 8 %}
                    <td class="huit tier">{{ personage.chArc }}</td>
                {% elseif personage.chArc == 5.4 %}
                    <td class="cinqPquatre tier">{{ personage.chArc }}</td>
                {% elseif personage.chArc == 6.4 %}
                    <td class="sixPquatre tier">{{ personage.chArc }}</td>
                {% elseif personage.chArc == 7.4 %}
                    <td class="septPquatre tier">{{ personage.chArc }}</td>
                {% elseif personage.chArc == 8.4 %}
                    <td class="huitPquatre tier">{{ personage.chArc }}</td>
                {% else %}
                    <td class="deux tier">{{ personage.chArc }}</td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>