<table id="ouPioche" class="table table-bordered agriculture">
    <thead>
    <tr>
        <th colspan="2" class="eso">PIOCHES</th>
    </tr>
    <tr>
        <th>Pseudo</th>
        <th class="tier">Tier</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td colspan="2" class="null"></td>
    </tr>
    {% for personage in personages %}
        {% if personage.ouPioche %}
            <tr>
                <td class="eso">{{ personage.name }}</td>
                {% if personage.ouPioche == 3 %}
                    <td class="trois tier">{{ personage.ouPioche }}</td>
                {% elseif personage.ouPioche == 4 %}
                    <td class="quatre tier">{{ personage.ouPioche }}</td>
                {% elseif personage.ouPioche == 5 %}
                    <td class="cinq tier">{{ personage.ouPioche }}</td>
                {% elseif personage.ouPioche == 6 %}
                    <td class="six tier">{{ personage.ouPioche }}</td>
                {% elseif personage.ouPioche == 7 %}
                    <td class="sept tier">{{ personage.ouPioche }}</td>
                {% elseif personage.ouPioche == 8 %}
                    <td class="huit tier">{{ personage.ouPioche }}</td>
                {% else %}
                    <td class="deux tier">{{ personage.ouPioche }}</td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>