<table id="alStone" class="table table-bordered agriculture">
    <thead>
    <tr>
        <th colspan="2" class="stone">PEAUX DE PIERRE</th>
    </tr>
    <tr>
        <th>Pseudo</th>
        <th class="tier">Tier</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td colspan="2" class="null"></td>
    </tr>
    {% for personage in personages %}
        {% if personage.alStone %}
            <tr>
                <td class="stone">{{ personage.name }}</td>
                {% if personage.alStone == 3 %}
                    <td class="trois tier">{{ personage.alStone }}</td>
                {% elseif personage.alStone == 4 %}
                    <td class="quatre tier">{{ personage.alStone }}</td>
                {% elseif personage.alStone == 5 %}
                    <td class="cinq tier">{{ personage.alStone }}</td>
                {% elseif personage.alStone == 6 %}
                    <td class="six tier">{{ personage.alStone }}</td>
                {% elseif personage.alStone == 7 %}
                    <td class="sept tier">{{ personage.alStone }}</td>
                {% elseif personage.alStone == 8 %}
                    <td class="huit tier">{{ personage.alStone }}</td>
                {% else %}
                    <td class="deux tier">{{ personage.alStone }}</td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>